/*settaggi generali*/

*{
  margin:0;
  padding:0;
}
body{
  font-size:17px;
}

/*contenitore per centrare le sezioni*/
.cont-center{
  width:94%;
  margin:0 auto;

}

/*contenitore colonne in float*/
.row::after{
  content: "";
  display: table;
  clear: both;
}
/*contenitore colonne*/
.col{
  width:49%;
  float: left;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.row .col.two:first-child{
  margin-right:2%;
}
/*header*/
.box-fixed{
  width:100%;
  position: fixed;
  top:0;
  background-color:white;
  z-index:1;
}
.col.header.uno{
  width:15%;
  margin-right:15%;
  padding:5px 0;
}
.col.header.due{
width: 70%;
}
.col.header.uno img{
  height:50px;
  width:50%;
  padding-top:5px
}
.box-fixed .cont-center{
  width:80%;
  margin:0 auto;
}
li{
  list-style: none;
  float: left;
  padding-left:30px;
  padding-top:20px;
}
.col.header.due .row a{
  color: black;
}
.col.header.due .row a:hover{
  text-decoration:none;
}
/*main*/

section.conmargine{
  margin:2% 0;
}
/*sezione 0*/
.sottoheader{
  padding-top:200px;
  padding-bottom:200px;
  background-image:url("sfondosezione0.jpg");
  background-size: cover;
  text-align: center;
  color:white;
}
.sottoheader h2{
  padding-bottom:15px;
  font-size:3em;
}
.sottoheader p{
  padding-bottom:25px;
}
/*sezione 1 due colonne*/

.sezione1{
  padding-top:50px;
  background-color:rgb(250, 250, 250);
  text-align: center;
  box-sizing: border-box;
}
.sezione1 img{
  max-width:30%;
  max-height:400px;
  padding-left:35%;
  padding-right:35%;
  padding-top:50px;
}
.sezione1 a{
 color:blue;
 font-size:1.3em;
}
/*faccio una modifica a h2 per piacere personale*/
 .sezione1 span{
  font-size:2em;
  font-family:fantasy;
}
.sezione1 h2{
  font-size:1.5em;
  display: inline;
}
.sezione1 p{
  font-size:1.3em;
  padding-top: 30px;
  padding-bottom:20px;
}
/*sezione 2 e sezione 3*/
.etàavanzata{
  position:relative;
}
.sezionesopra{
  background-image: url("sfondosezione2.jpg");
  background-size:cover;
  padding-top:250px;
  padding-bottom:250px;
  transform: translate(-50 -50);
}
.sezionesotto{
  padding-top:50px;
  padding-bottom:150px;
}

/*sezione 3 tre colonne*/
.sfondo{
  background-color:white;
}
.row .col.tree{
  width:calc(75%/2);
  text-align: center;
}
.row .col.tree.centro{
  width:25%;
  height:1px;
}
.row .col.tree.centro img{
  max width:25%;
  height:600px;
  bottom:0;
  left:40%;
  right:40%;
  transform: translate(-50% -50%);
  position: absolute;
}



/*sezione 4 una colonna*/
.monopattino{
  background-image:url("sfondomonopattino.jpg");
  background-size:cover;
}
.colmonopattino{
  float: right;
  width:46%;
  padding:150px 0;
}
.row .colmonopattino h2{
  font-size:3em;
  color:white;
  padding:0 50px;
}
.row .colmonopattino p{
  font-size:1.5em;
  color:white;
  padding:0 50px;

}
.row .colmonopattino a{
  font-size:1.5em;
  color:white;
  padding:0 50px;

}

/*sezione 5*/
.sezione5 {
  background-color:rgb(55, 72, 89);
}
 .sinistra{
  background-image:url("telefonosezione5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:80%;
}
.row .col.two.sezione5{
  color:white;
  text-align: center;
  padding-top:50px;
  padding-bottom:400px;
  box-sizing: border-box;

}
.sezione5 p{
  font-size:1.5em;
  padding-bottom:30px;
}
.sezione5 h2{
  font-size: 3em;
  padding-bottom:30px;
}
.sezione5 a{
  font-size:1.3em;
  padding-bottom:30px;
  color:white;
  padding-left:25px;
}

.sezione5.destra{
  background-image: url("cittasezione5.jpg");
  background-size: cover;
}
/*sezione 6*/
.sezione6{
  width:98.5%;
  padding:200px 0;
  background-image: url("sfondosezione6.jpg");
  background-size:cover;
}

/*footer*/
footer{
  background-color:black;
}
.cont-center.footer{
  width:80%;
  margin:0 10%;
}
.col.sopra{
  width:100%;
  padding-top:100px;
  padding-bottom:50px;
  border-bottom:solid 1px rgba(255, 255, 255, 0.2);
}
.col.centr{
  width:100%;
  padding:30px 0;
  border-bottom:solid 1px rgba(255, 255, 255, 0.2);
}
.col.sotto{
  width:100%;
  padding-top:25px;
  padding-bottom:100px;
  text-align:center;
}
.divided{
  width:calc(100% / 4);
  float: left;
}
.divided h3{
  color:white;
}
.divided h2{
 color:white;
}
.divided p{
  color:white;
  padding:10px 0;
  opacity:0.5;
}
.divided.mod1 p{
  color:white;
  opacity:1;
}
.divided.mod1 img{
  padding-left:25px;
}
.col.sotto img{
  padding-left:50px;
}
