/*settaggi generali*/
*{
  margin:0;
  padding:0;
}
/*header*/
header{
  height:100px;
  background-color:yellow;
}
/*section*/
section{
  height:100px;
  background-color:gray;
  border:solid 1px black;
}
/*footer*/
footer{
  height: 100px;
  background-color:black;
}
