/*settaggi generali*/

*{
  margin:0;
  padding:0;
}
body{
  font-size:17px;
}
/*contenitore per centrare le sezioni*/
.cont-center{
  width:94%;
  margin:0 auto;
  /*border:solid 1px red;*/
}

/*contenitore colonne in float*/
.row::after{
  content: "";
  display: table;
  clear: both;
}
/*contenitore colonne*/
.col{

  width:49%;
  float: left;

}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.row .col.two:first-child{
  margin-right:2%;
}
/*header*/
header{
  height:100px;
  background-color:yellow;
}
/*main*/
section{
  /*background-color:gray;
  border:solid 1px black;*/
}
section.conmargine{
  margin:2% 0;
}
/*sezione 0*/

/*sezione 1 due colonne*/

.sezione1{
  padding:50px 0;
  background-color:rgb(250, 250, 250);
  text-align: center;
}
.sezione1 img{
  position: static;
  width:30%;
  height:400px;
  padding-left:35%;
  padding-right:35%;
  padding-top:50px;

}
.sezione1 a{
 color:blue;
}
/*faccio una modifica a h2 per piacere personale*/
 .sezione1 span{
  font-size:2em;
  font-family:fantasy;
}
.sezione1 h2{
  font-size:1.5em;
  display: inline;
}
.sezione1 p{
  font-size:1.3em;
  padding-top: 30px;
  padding-bottom:20px;
}
.sezione1 a{
  font-size:1.3em;
}
/*sezione 2*/


/*sezione 3 tre colonne*/
.row .col.tree{
width:calc(80%/2);
}
.row .col.tree.centro{
  width:20%;
  background-color:green;

}
/*sezione 4 una colonna*/
.monopattino{
  background-image:url("sfondomonopattino.jpg");
  background-size:cover;

}
.colmonopattino{
  float: right;
  width:46%;
  padding:150px 0;
}
.row .colmonopattino h2{
  font-size:3em;
  color:white;
}
.row .colmonopattino p{
  font-size:1.5em;
  color:white;
}
.row .colmonopattino a{
  font-size:1.5em;
  color:white;
}

/*sezione 5*/
.telefono.sinistra{
  background-color:rgb(55, 72, 89);
}
.telefono.sinistra.sfondo{
  background-image:url("telefonosezione5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:80%;
}
.row .col.two.telefono  {
  color:white;
  text-align: center;
  padding-top:50px;
  padding-bottom:400px;
  box-sizing: border-box;

}
.telefono p{
  font-size:1.5em;
  padding-bottom:30px;
}
.telefono h2{
  font-size: 3em;
  padding-bottom:30px;
}
.telefono a{
  font-size:1.3em;
  padding-bottom:30px;
  color:white;
  padding-left:25px;
}

.telefono.destra{
  background-image: url("cittasezione5.jpg");
  background-size: cover;
}



/*sezione 6*/
.sezione6{
  width:98.5%;
  padding:200px 0;
  background-image: url("sfondosezione6.jpg");
  background-size:cover;
}


/*footer*/
footer{
  height: 100px;
  background-color:black;
}
